<template>
  <form @submit.prevent="handleSubmit">
    <label for="title">Title: </label>
    <input v-model="title" id="title" type="text" required>
    <label for="details">Details: </label>
    <textarea v-model="details" id="details" required></textarea>
    <button>Add Project</button>
  </form>
</template>

<script>
export default {
  name: 'AddProject',
  data() {
    return {
      title: '',
      details: ''
    }
  },
  methods: {
    handleSubmit() {
      let project = {
        title: this.title,
        details: this.details,
        complete: false
      }
      fetch('http://localhost:3000/projects', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(project)
      }).then(() => {
        this.$router.push('/')
      }).catch((err) => {console.log(err)})
    }
  }
}
</script>

<style scoped>
form {
  margin: 2rem 0;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  font-weight: bold;
}
input {
  padding: 1rem;
  border: 0;
  border-bottom: solid 2px #ddd;
}
input:focus {
  border-bottom: solid 2px #577b9f;
  outline: none;
}
textarea {
  padding: 1rem;
  border: solid 2px #ddd;
}
textarea:focus {
  border: solid 2px #577b9f;
  outline: none;
}
form button {
  width: max-content;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #577b9f;
  color: white;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.4s linear;
}
form button:hover {
  background-color: #2c3e50;
}

</style>
