<template>
  <div class="home">
    <FilterNav @filter="current = $event" :current="current"/>
    <div v-if="filteredProjects.length" class="projects">
      <div v-for="project in filteredProjects" :key="project.id">
        <Project :project="project" @delete="handleDelete" @complete="handleComplete" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import Project from '../components/Project'
import FilterNav from '../components/FilterNav'
export default {
  name: 'Home',
  data() {
    return {
      projects: [],
      current: 'all'
    }
  },
  components: {
    FilterNav,
    Project
  },
  computed: {
    filteredProjects() {
      if (this.current === 'all') {
        return this.projects
      }
      const completed = this.current === 'completed'
      return this.projects.filter((project) => {
        return project.complete === completed
      })
    }
  },
  mounted () {
    fetch('http://localhost:3000/projects')
        .then(response => response.json())
        .then(data => this.projects = data)
        .catch(error => console.log(error.message))
  },
  methods: {
    handleDelete(id) {
      this.projects = this.projects.filter((project) => {
        return project.id !== id
      })
    },
    handleComplete(id) {
      let p = this.projects.find((project) => {
        return project.id === id
      })
      p.complete = !p.complete
    }
  }
}
</script>

<style scoped>
.projects {
  margin: 2rem 0;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
</style>
