<template>
  <nav class="filter-nav">
    <button
        @click="updateFilter('all')"
        :class="{ 'active': current === 'all'}"
    >
      All</button>
    <button
        @click="updateFilter('completed')"
        :class="{ 'active': current === 'completed' }"
    >
      Completed</button>
    <button
        @click="updateFilter('ongoing')"
        :class="{ 'active': current === 'ongoing' }"
    >
      Ongoing</button>
  </nav>
</template>

<script>
export default {
  name: "FilterNav",
  props: {
    current: {
      type: String,
      required: true
    }
  },
  methods: {
    updateFilter(by) {
      this.$emit('filter', by)
    }
  },
  emits: ['filter']
}
</script>

<style scoped>
  .filter-nav {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .filter-nav button {
    font-weight: bold;
    color: white;
    background-color: #444444;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    flex: 1;
  }
  .filter-nav button.active {
    background-color: #577b9f;
  }

</style>
