<template>
  <nav class="main-nav">
    <router-link :to="{ name: 'Home' }">Projects</router-link>
    <router-link :to="{ name: 'AddProject' }">Add A New Project</router-link>
  </nav>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style scoped>
  .main-nav {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .main-nav a {
    text-decoration: none;
    border-bottom: solid 4px transparent;
    color: #2c3e50;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    transition: border-bottom-color 0.4s linear;
  }
  .main-nav a:hover {
    border-color: #42b983 !important;
  }
  .main-nav a.router-link-active {
    border-color: #577b9f;
  }

</style>
