<template>
  <div class="project" :class="{'completed': project.complete}">
    <div class="actions">
      <h3 class="project__title" @click="toggleDetails">{{ project.title }}</h3>
      <div class="icons">
        <router-link :to="{ name: 'EditProject', params: { id: project.id } }">
          <span class="material-icons edit">
            edit
          </span>
        </router-link>
        <span class="material-icons delete" @click="deleteProject">
          delete
        </span>
        <span class="material-icons done" @click="toggleComplete">
          done
        </span>
      </div>
    </div>
    <div v-if="showDetails" class="details">
      <p>{{ project.details }}</p>
    </div>
  </div>

</template>

<script>
export default {
  name: "Project",
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showDetails: false,
      uri: 'http://localhost:3000/projects/' + this.project.id
    }
  },
  emits: ['delete', 'complete'],
  methods: {
    toggleDetails() {
      this.showDetails = !this.showDetails
    },
    deleteProject() {
      fetch(this.uri, {method: 'DELETE'})
          .then(() => this.$emit('delete', this.project.id))
          .catch(error => console.log(error.message))
    },
    toggleComplete() {
      fetch(this.uri, {
        method: 'PATCH',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ complete: !this.project.complete })
      }).then(() => {
        this.$emit('complete', this.project.id)
      }).catch(error => console.log(error.message))
    }
  }
}
</script>

<style scoped>
.project {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.2rem 0.3rem 0 rgba(0,0,0,0.05);
  border-left: 0.4rem solid #e90074;
}
.project.completed{
  border-color: #42b983;
}
.project__title {
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.material-icons {
  cursor: pointer;
  font-size: 1.5rem;
  color: #bbb;
}

.project.completed .done {
  color: #42b983;
}

.material-icons:hover {
  color: #2c3e50;
}

</style>
